/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.out
/.idea/.name
/AI.o
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-5ac684b024479eafbae4.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d3a1b83976abf7682e3e.json
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-149705c8eb2d4bcb342d.json
/control.o
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/game.o
/gui.o
/gui_game.o
/gui_menu.o
/human.o
/cmake-build-debug/.cmake/api/v1/reply/index-2022-06-25T12-03-47-0230.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/main.o
/cmake-build-debug/Makefile
/.idea/misc.xml
/.idea/modules.xml
/objects.o
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/snake.cbp
/.idea/Snake.iml
/cmake-build-debug/.cmake/api/v1/reply/target-snake-Debug-835b183cfefd544129b4.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
/tui.cpp
/tui.h
/tui.o
/ui.o
/.idea/vcs.xml
/.idea/.gitignore
/CMakeLists.txt
